.WebhookContent {
  margin-top: 20px;
}

.Webhooks--row {
  margin: 10px 0;

  .Webhook-input {
    display: flex;
    flex-direction: row;
    flex-basis: fit-content;

    > .Select, > button, > input, > div {
      margin: 0 5px;
    }

    > :first-child {
      margin-left: 0;
    }

    > :last-child {
      margin-right: 0;
    }

    .Select {
      flex-shrink: 1;
    }

    .Webhook-url {
      flex-grow: 1;

      &::placeholder {
        font-style: italic;
      }
    }

    .Webhook-button {
      .Button-icon {
        margin-right: 0;
      }
    }
  }

  .Webhook-error {
    margin: 5px 0;
    padding: 5px 10px;

    &:last-of-type {
      margin-bottom: 20px;
    }
  }

  &:last-of-type {
    margin-top: 40px;

    &:first-of-type {
      margin-top: 10px;
    }
  }
}

.FofWebhooksModal {
  .Form-group {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .Form-group.hasLoading {
    > div {
      position: relative;
    }

    .LoadingIndicator {
      position: absolute;
      top: 8px;
      right: 15px;
    }
  }

  .Dropdown-toggle .icon {
    margin-right: 10px;
  }

  .label {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .Webhook-events {
    .label {
      margin-bottom: -10px;
    }

    > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      h2 {
        flex-basis: 100%;
        text-transform: uppercase;
        margin: 0;
      }

      > div {
        flex: 50%;
      }
    }

    .Checkbox {
      &:last-of-type {
        margin-bottom: 20px;
      }
      &:first-of-type {
        margin-top: -10px;
      }

      margin-bottom: 10px;
      padding-left: 50px;

      .Checkbox-display {
        width: 40px;
        height: 20px;
        margin-top: -1px;
        margin-left: -50px;

        &::before {
          width: 18px;
          height: 18px;
          top: 1px;
          left: 1px;
        }
      }

      &.on {
        .Checkbox-display::before {
          left: 21px;
        }
      }

      &.off {
        .Checkbox-display {
          background: darken(@control-bg, 10%);
        }
      }

      .spinner {
        transform: scale(0.7) !important;
        left: -0.5px !important;
        top: 35% !important;
      }
    }
  }
}
