.Webhooks--row {
  display: flex;
  flex-direction: row;
  flex-basis: fit-content;

  .Select {
    flex-shrink: 1;
  }

  .Webhook-url {
    flex-grow: 1;
    margin: 0 5px;
  }

  .Webhook-button {
    .Button-icon {
      margin-right: 0;
    }
  }
}