@media (min-width: 992px) {
  .WebhooksPage .container {
    max-width: 900px;
    padding: 30px;
    margin: 0;
  }
}

.Webhooks--row {
  margin: 10px 0;

  .Webhook-input {
    display: flex;
    flex-direction: row;
    flex-basis: fit-content;

    .Select, button, input {
      margin: 0 5px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .Select {
      flex-shrink: 1;
    }

    .Webhook-url {
      flex-grow: 1;
    }

    .Webhook-button {
      .Button-icon {
        margin-right: 0;
      }
    }
  }

  .Webhook-error {
    margin: 5px 0;
    padding: 5px 10px;

    &:last-of-type {
      margin-bottom: 15px;
    }
  }
}

.ReflarWebhooksModal {
  .Webhook-events {
    margin-top: 10px;

    .Checkbox {
      margin-bottom: 10px;
    }
  }
}